<?xml version="1.0" encoding="utf-8"?>

<launch>
        <machine
                name="jetson2-desktop"
                address="192.168.0.171"
                env-loader="/opt/ros/melodic/env_jetson_2.sh"
                default="true"
                user="jetson2"
        />
        <!-- Include your inner launch file -->
        <node machine="jetson2-desktop" pkg="rospy_tutorials" name="talker" type="talker" output="screen"/>
</launch>
